* {
  margin: 0;
  padding: 0;  
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

html, body{
    height: 100%;
    background-color: #003249;
}

button{
    cursor: pointer;
    border: none;
    background-color: rgba(0,0,0,0);
    display: block;
    margin: 0 0.4rem 0 0.4rem;
    transition: opacity 300ms linear;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
}

.removeButton{
    background-image: url(./assets/delete_forever-24px.svg); 
}

.addItemButton{ 
    background-image: url(./assets/add-24px.svg); 
    margin-left: 0.5rem;
}

.addSubItemButton{
    background-image: url(./assets/subitem_add-24px.svg); 
}

.moveUpButton{
    background-image: url(./assets/move_up-24px.svg);
}

.moveDownButton{
    background-image: url(./assets/move_down-24px.svg);
}

.globalContainer{
    margin: auto;
    width: 60rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoTitle{
    font-weight: bold;
    text-align: center;
    margin-top: 4rem;
    height: auto;
    min-width: 15rem;
    max-width: 40rem;
    font-size: 3rem;
    color: #9ad1d4;
    color: #CCDBDC;
    border: 0;
    white-space: unset;  
    word-wrap: break-word;
}

.allItemsContainer{
    margin: 2rem 2rem;
    width: 60rem;
    height: 100rem;
}

.hidden{
    opacity: 0;
}

.todoItem{
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    align-items: center;
}

.todoItem:hover{
    background-color: #003E5B;
    transition: background-color 300ms linear;
}

.checkBoxContainer {
    position: relative;
    width: 13px;
    height: 13px;
    background-color: #003249;
    border-radius: 2px;
    border: 2px solid rgb(181, 194, 202);
    cursor: pointer;
    margin: 0 0.4rem 0 0.4rem;
}


.checkBoxContainer input {
    cursor: pointer;
    opacity: 0;
    width: 13px;
    height: 13px;
}

.checkmark {
    content: "";
    opacity: 0;
    position: absolute;  
    left: 6px;
    bottom: 3px;
    width: 0px;
    height: 0px;
    border: solid rgb(181, 194, 202);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) translate(0,0);  
}

input:checked ~ .checkmark {
    opacity: 1;
    width: 5px;
    height: 13px;
    transition: width 150ms ease-in-out, height 150ms ease-in-out;
}


.itemText{
    font-size: 18px;
    height: 1.2rem;
    min-width: 3rem;
    max-width: 43rem;
    margin:0 1.5rem 0 0.5rem;
    color: #CCDBDC;
    height: auto;
    word-wrap: break-word;
    transition: text-decoration 800ms ease-in-out ;
}
